<%= form_for(artist_form, as: :artist, url: artists_path, method: :post) do |f| %>
  <% if artist_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist_form.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
